<div class = "div-pai">
<mat-card class="z-dephth-5 slider-2 pds-card dir-esq-animation">
    <mat-card-content class="my-card-content ">
      <div class="centralize">
        <img src="assets/RUP.png" width="40%" height="40%">
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="z-dephth-5 slider-2 esq-dir-animation pds-card">
    <mat-card-header>
      <div mat-card-avatar class="card-image-rup"></div>
      <mat-card-title>RUP </mat-card-title>
      <mat-card-subtitle>Definição</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="my-card-content">
      <p>O Processo Unificado Racional, criado pela Rational Software Corporation, mas em adquirida pela IBM em 2003, utiliza uma abordagem de orientação a objetos em sua concepção e é projetada e documentada utilizando o UML para ilustrar os processos. 
Tem como principais características ser incremental e iterativo, ou seja, significa que o software é construído e entregue em pedaços, constituindo um conjunto de funcionalidades completas. Através de pequenos ciclos de projetos, que correspondem a uma iteração, o software é melhorado adicionando mais detalhes, o que resulta em um incremento no software e consequentemente evolução do produto.
      </p>
      <br>
      <p>
      O principal objetivo do RUP é atender as necessidades dos usuários garantindo uma produção de software de alta qualidade que cumpra um cronograma e um orçamento previsíveis. Assim, o RUP mostra como o sistema será construído na fase de implementação, gerando o modelo do projeto e, opcionalmente, o modelo de análise que é utilizado para garantir a robustez. O RUP define perfeitamente quem é responsável pelo que, como as coisas deverão ser feitas e quando devem ser realizadas, descrevendo todas as metas de desenvolvimento especificamente para que sejam alcançadas.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="z-dephth-5 slider-2 dir-esq-animation pds-card">
    <mat-card-header>
      <div mat-card-avatar class="card-image-rup"></div>
      <mat-card-title>Etapas</mat-card-title>
        <mat-card-subtitle>Disciplinas</mat-card-subtitle>

    </mat-card-header>
    <mat-card-content class="my-card-content">
    <b>Etapas</b>
    <p>O RUP organiza o desenvolvimento em 4 fases bem direcionadas, contendo em cada uma delas no mínimo uma iteração, ou seja, um ciclo de vida, são nessas iterações que são mostradas ao cliente o andamento da produção para que ele possa validar e assim liberar a continuação do desenvolvimento. </p>
      <p><b>Concepção:</b> Também chamado de iniciação, define o escopo do software. É uma fase preliminar, é nessa etapa que se concentra o levantamento de requisitos, define preços e prazos da entrega do sistema e onde se avalia os possíveis riscos. Se o projeto for de pouca importância ou inviável, ele pode ser cancelado após essa fase.</p>
      <br>
      <p><b>Construção:</b> Ocorre a codificação do software.</p>
      <br>
      <p><b>Transição:</b> É a fase final do RUP. Nela, ocorre a validação e a entrega definitiva do software para o cliente. Essa etapa normalmente inclui a entrega do sistema, teste beta para validação das funcionalidades, conversão de bancos de dados operacionais, treinamento com os usuários, ajustes no sistema e a avaliação do produto.</p>
      <br>
      <b>Disciplinas</b>
      <br>
      <p>Outra característica do RUP é que ele possui atividades lógicas, chamadas de disciplinas ou workflows, sendo estas muito bem trabalhadas e desenvolvidas. São seis workflows de processos principais e três workflows de apoio principais.
        </p>
        <p><b>Modelagem de negócios:</b> Os processos de negócios são modelados com a utilização de casos de uso de negócio.</p>
      <br>
        <p><b>Requisitos:</b> Os casos de usos são criados para modelar os requisitos do software.</p>
      <br>
       <p><b>Análise e projeto:</b> Cria-se um modelo de projeto com base em modelos de arquitetura, de componente, de objeto e de sequência.</p>
      <br>
        <p><b>Implementação:</b> Os componentes do software são implementados.</p>
      <br>
        <p><b>Teste:</b> O teste é um processo iterativo e é efetuado em conjunto com a implementação do sistema.</p>
      <br>
        <p><b>Implantação:</b> Cria-se uma versão do produto e instala-a no local de trabalho dos usuários.</p>
      <br>
        <p><b>Gerenciamento de configuração e mudanças:</b> Esse workflow serve como apoio à gerência do projeto em relação às mudanças no sistema.</p>
      <br>
        <p><b>Gerenciamento de projetos:</b> Esse workflow de apoio gerencia o processo de desenvolvimento do software.</p>
      <br>
        <p><b>Ambiente:</b> Este workflow relaciona-se à disponibilização de ferramentas de software adequadas para a equipe de desenvolvimento.</p>
      <br>
      <p>As quatro fases e as disciplinas se interagem. As disciplinas e modelos existem para isso, para ficar organizado e que se consiga ter mais controle sobre o software final.</p>
        <br>
    </mat-card-content>
  </mat-card>

  <mat-card class="z-dephth-5 slider-2 dir-esq-animation pds-card">
    <mat-card-header>
      <div mat-card-avatar class="card-image-rup"></div>
      <mat-card-title>Vantagens</mat-card-title>
      <mat-card-subtitle>e Desvantagens</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="my-card-content">

      <p>Processo robusto e bem definido com a geração de artefatos importantes.
	    O desenvolvimento iterativo e incremental permite aos desenvolvedores o aprendizado em relação ao software, possibilitando assim, a localização de futuros problemas em fases iniciais.</p>
      <p>Geralmente ele costuma ser indicado para projetos com grandes equipes de desenvolvimento e projetos extensos, que requerem muita documentação e muito detalhe, que não necessitam de uma entrega tão imediata.
	    Os maiores riscos são tratados primeiro, diminuindo as chances de fracasso do projeto.
	    Complexo e trabalhoso para projetos de pequeno porte.
	    Exige experiência da equipe.</p>
      <br>
    </mat-card-content>
  </mat-card>
<br><br>


</div>

