<div class="div-pai">
  <mat-card class="z-dephth-5 slider-2 pds-card dir-esq-animation">
    <mat-card-header style="display: flex; flex-direction: row; justify-content: center">
<!--      <div mat-card-avatar class="card-image"></div>-->
      <mat-card-title>PROCESSOS DE DESENVOLVIMENTO DE SOFTWARE</mat-card-title>
<!--      <mat-card-subtitle>Responda conforme características do projeto-->
<!--      </mat-card-subtitle>-->
    </mat-card-header>
    <mat-card-content class="my-card-content">
    </mat-card-content>
  </mat-card>

  <mat-card class="z-dephth-5 slider-2 esq-dir-animation pds-card">
  <mat-card-header>
    <div mat-card-avatar class="card-image"></div>
    <mat-card-title>O que é? </mat-card-title>
    <mat-card-subtitle>Definição de processos</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="my-card-content">
    <p>Uma metodologia que tem como objetivo definir de forma clara “quem” faz “o que”, “quando”, “como”, e até mesmo “onde”, para todos os que estejam envolvidos diretamente ou não com o desenvolvimento de software. Deve instruir um conjunto de padrões preestabelecidos, de modo a ser evitar a subjetividade na abordagem, a fim de garantir fácil integração entre os sistemas desenvolvidos. Existem dois tipos de metodologias: tradicional e ágeis.
    </p>
  </mat-card-content>
  </mat-card>

  <mat-card class="z-dephth-5 slider-2 dir-esq-animation pds-card">
    <mat-card-header>
      <div mat-card-avatar class="card-image"></div>
      <mat-card-title>Para que serve?</mat-card-title>
      <mat-card-subtitle>Aplicações dos processos</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="my-card-content">
      <p>Uma metodologia que tem como objetivo definir de forma clara “quem”
        faz “o que”, “quando”, “como”, e até mesmo “onde”, para todos os que
        estejam envolvidos diretamente ou não com o desenvolvimento de software.
        Deve instruir um conjunto de padrões preestabelecidos, de modo a ser
        evitar a subjetividade na abordagem, a fim de garantir fácil integração
        entre os sistemas desenvolvidos. Existem dois tipos de metodologias: tradicional e ágeis.
      </p>
    </mat-card-content>
  </mat-card>


  <mat-card class="z-dephth-5 slider-2 esq-dir-animation pds-card">
    <mat-card-header>
      <div mat-card-avatar class="card-image"></div>
      <mat-card-title>Tradicional vs Ágil </mat-card-title>
      <mat-card-subtitle>Metodologias ágeis e não ágeis</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="my-card-content">
      <div class="side-by-side-pds">
        <div class="border-container-pds">
          <div class="col s8 m6 l6">

            <h2 class="centralize">Tradicional</h2>
            <p>Este modelo sugere uma abordagem sequencial e sistemática para o desenvolvimento de software. É utilizado principalmente quando os requisitos de um determinado problema são bem compreendidos. Uma forma de utilizar o modelo cascata é quando precisamos fazer adaptações ou aperfeiçoamentos em um sistema já existente.</p>
          </div>
        </div>

        <div class="border-container-pds">
          <div class="col s8 m6 l6">
            <h2 class="centralize">Ágil</h2>
            <p>É uma forma de acelerar as entregas durante o desenvolvimento de um projeto, fracionando o todo em entregas incrementais, trabalhando em times auto-organizados e fazendo uso da Inteligência Coletiva, com equipes multidisciplinares, para atingir uma meta estabelecida a cada fase - que chamamos de Sprint nos Métodos Ágeis Scrum, até a conclusão final da entrega total do projeto.
            </p>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>


</div>
