<div class="div-pai">
    <mat-card class="z-dephth-5 slider-2 pds-card dir-esq-animation">
        <mat-card-content class="my-card-content ">
            <div class="centralize">
                <img src="assets/cascata.png" width="40%" height="40%">
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="z-dephth-5 slider-2 esq-dir-animation pds-card">
        <mat-card-header>
            <div mat-card-avatar class="card-image-cascata"></div>
            <mat-card-title>CASCATA </mat-card-title>
            <mat-card-subtitle>Definição</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="my-card-content">
            <p>O modelo cascata também é chamado de ciclo de vida clássico ou tradicional, foi criado por Winston Royce,
                em 1970, defensor de uma abordagem iterativa para o desenvolvimento de software, propôs o modelo cascata
                como sendo um modelo inicial e que ele argumentava ser defeituoso e que não deveria ser seguido.
                O cascata é utilizado principalmente quando os requisitos de um determinado problema são bem
                compreendidos. Quando precisamos fazer adaptações ou aperfeiçoamentos em um sistema já existente. Por
                exemplo, quando temos um sistema já pronto e precisamos fazer uma adaptação porque alguma lei
                governamental foi alterada ou criada.
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card class="z-dephth-5 slider-2 dir-esq-animation pds-card">
        <mat-card-header>
            <div mat-card-avatar class="card-image-cascata"></div>
            <mat-card-title>Funcionamento das fases</mat-card-title>
        </mat-card-header>
        <mat-card-content class="my-card-content">

            <p>Essa metodologia segue um fluxo sequencial, a primeira etapa que ocorre juntamente com o cliente, é o
                levantamento de requisitos ou necessidades do produto desejado pelo cliente. É onde vais ser analisado
                os serviços que devem ser fornecidos, quais irão ser as limitações e objetivos do software. É também
                onde é feito a documentação e o estudo da viabilidade do projeto para determinar o inicio de
                desenvolvimento do sistema.
                Na verdade, ao final de cada fase tudo é extremamente bem documentado, uma vez que não se pode voltar
                atrás nas fases, a etapa seguinte só é iniciada após concluída a anterior, e o resultado de uma fase é a
                entrada da próxima fase.</p>
            <br>
            <p>Após a finalização da primeira fase passa para a segunda que é a fase de projeto(também chamado de
                planejamento ou design), onde definimos o planejamento da arquitetura do software, entidades,
                caracterização das interfaces, banco de dados . E ao final passa pelo processo de documentação.
                Após isso, partimos para a implementação, onde os programas são efetivamente criados posteriormente são
                testadas as funcionalidades do software. A última fase que é a fase de manutenção é onde ocorre a
                correção de erros que não foram previamente detectados
            </p>
            <br>
        </mat-card-content>
    </mat-card>
    <mat-card class="z-dephth-5 slider-2 dir-esq-animation pds-card">
        <mat-card-header>
            <div mat-card-avatar class="card-image-cascata"></div>
            <mat-card-title>Vantagens</mat-card-title>
            <mat-card-subtitle>e Desvantagens</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="my-card-content">

            <p>Desenvolvedores e clientes concordam sobre o que será entregue no início do ciclo de vida de
                desenvolvimento. Isso torna o planejamento e o design mais simples; o progresso é medido mais
                facilmente, pois o escopo completo do trabalho é conhecido antecipadamente.
                Mais seguro quando para projeto de baixo risco.
                É possível que vários membros da equipe estejam envolvidos ou continuem com outros trabalhos, dependendo
                da fase ativa do projeto. Por exemplo, os analistas de negócios podem aprender e documentar o que
                precisa ser feito, enquanto os desenvolvedores estão trabalhando em outros projetos. Os testadores podem
                preparar scripts de teste a partir da documentação de requisitos enquanto a codificação está em
                andamento.</p>
            <p>É necessário ter atenção redobrada para que nenhuma etapa seja concluída com erros. Os requisitos
                determinados também não podem ser modificados e, por isso, é necessário seguir o modelo à risca.
                É preciso sempre lembrar que pular ou inverter fases não é permitido.
                Apesar de ser difícil para um cliente estabelecer explicitamente todas as necessidades em uma única
                fase,
                mudanças podem ser um problema a medida que o projeto vai caminhando.
                Um erro grave, se não detectado até o programa operacional ser revisto, pode ser desastroso.
            </p>
            <br>
            <div class="centralize">
                <img src="assets/cascatafoto.png" width="50%" height="50%">
            </div>

        </mat-card-content>
    </mat-card>
    <br><br>
</div>