<div class="div-pai">
    <mat-card class="z-dephth-5 slider-2 pds-card dir-esq-animation">
        <mat-card-content class="my-card-content ">
            <div class="centralize">
                <img src="assets/kanban.png" width="40%" height="40%">
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="z-dephth-5 slider-2 esq-dir-animation pds-card">
        <mat-card-header>
            <div mat-card-avatar class="card-image-kanban"></div>
            <mat-card-title>KANBAN </mat-card-title>
            <mat-card-subtitle>Definição</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="my-card-content">
            <p>O Kanban surgiu no Japão, mais precisamente dentro da Toyota Motor Company na década de 70. A ideia
                básica era minimizar atrasos a partir do desenvolvimento de um método que coordenasse a produção de
                peças com as demandas.
            </p>
            <br>
            <p>
                Em japonês, Kanban significa “registro” ou “placa visível”. Basicamente o Kanban possui três campos: To
                Do (para fazer), Doing (Em execução) e Done (Finalizado). Mas nada impede que sejam criados novos itens.
                Os campos são abastecidos com cartões, que trazem informações sobre a tarefa a ser executada, o nome da
                pessoa responsável e a hora que foi pedido. Cada cartão deve conter apenas uma tarefa.
                Conforme o profissional vai desenvolvendo o trabalho, ele mesmo vai mudando o cartão de lugar, para
                Doing e Done, escrevendo a próxima tarefa a ser desenvolvida e indicando um responsável.
                Para facilitar, a empresa pode usar cores diferentes de cartões para identificar o andamento das
                atividades (em dia, atrasadas ou com impedimento) ou o departamento responsável (vendas,
                desenvolvimento, design e conteúdo) e ainda separar os primeiros cinco minutos do dia para fazer uma
                avaliação geral do quadro e definir novas diretrizes
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card class="z-dephth-5 slider-2 dir-esq-animation pds-card">
        <mat-card-header>
            <div mat-card-avatar class="card-image-kanban"></div>
            <mat-card-title>Membros e Funções</mat-card-title>
        </mat-card-header>
        <mat-card-content class="my-card-content">

            <p><b>Quadro:</b> É o panorama completo do projeto, que inclui os cartões (tarefas) e as colunas (status ou
                estágio atual de cada uma das ações).</p>
            <br>
            <p><b>Cartão:</b> É a menor parte de um Kanban. No cartão, você vai listar a tarefa ou ação que precisa ser
                executada.
            </p>
            <br>
            <p><b>Atributos dos cartões:</b> Normalmente um cartão em um quadro Kanban possui alguns atributos, além do
                nome ou número de identificação. O atributo mais comum é o tipo do item, que é normalmente classificado
                como valor, melhoria ou falha. No desenvolvimento de software, podemos usar tipos como nova
                funcionalidade, melhoria de interface e defeito, por exemplo. Os tipos de item permitem analisarmos as
                métricas de forma segmentada, além de nos darem uma visão mais clara sobre a composição do fluxo.
            </p>
            <br>
            <p><b>Coluna:</b> Ela indica a evolução e a situação de cada tarefa. No mínimo, são três: Tarefas para
                fazer, Tarefas em execução e Tarefas concluídas. Você pode adequar as colunas conforme a necessidade e a
                realidade da sua organização. O importante é mover os cartões entre as colunas de acordo com o andamento
                das tarefas.
            </p>
            <br>
        </mat-card-content>
    </mat-card>
    <mat-card class="z-dephth-5 slider-2 dir-esq-animation pds-card">
        <mat-card-header>
            <div mat-card-avatar class="card-image-xp"></div>
            <mat-card-title>Vantagens</mat-card-title>
            <mat-card-subtitle>e Desvantagens</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="my-card-content">

            <p>O modelo permite que o trabalho seja melhor visualizado, por ser colocado no quadro geral de fluxo de
                trabalho. Isso faz com que as dificuldades sejam indicadas com transparência e nos pontos certos.
                Essa metodologia trabalha com fluxo contínuo, diferente do Scrum que usa Sprints com timebox. Ambas as
                abordagens permitem entregas constantes, mas o Kanban permite ciclos ainda menores que o Scrum.</p>
            <p>O Kanban também possibilita múltiplos focos de atuação. Se o seu time dá manutenção em um produto legado,
                e ao mesmo tempo desenvolve um novo, isso não é problema para o Kanban, diferente do Scrum que exige um
                time dedicado para o desenvolvimento de um único produto, com um único Backlog.
                No entanto, esse é um sistema que funciona bem em um sistema de produção em série, visto que qualquer
                pedido não previsto, demanda instável ou pedido emergencial impacte em todo processo. A falta de
                disciplina dos operários pode também afetar todo o sistema.
            </p>

            <br>
        </mat-card-content>
    </mat-card>
</div>