<div>
  <mat-toolbar class="navbar" color="primary">
    <a mat-button routerLink="/capa" routerLinkActive="active">Entrada</a>
    <a mat-button routerLink="/teste" routerLinkActive="active">Teste</a>
    <a mat-button routerLink="/pds" routerLinkActive="active">Processos de desenvolvimento de software</a>
    <button mat-button [matMenuTriggerFor]="menu1"
            (mouseenter)="openMyMenu()">Metodologias</button>
    <mat-menu #menu1="matMenu" overlapTrigger="false">
    <span (mouseleave)="closeMyMenu()">

      <button mat-menu-item routerLink="/scrum" routerLinkActive="active">Scrum</button>
      <button mat-menu-item routerLink="/xp" routerLinkActive="active">Xp</button>
      <button mat-menu-item routerLink="/kanban" routerLinkActive="active">kanban</button>
      <button mat-menu-item routerLink="/cascata" routerLinkActive="active">Cascata</button>
      <button mat-menu-item routerLink="/devcomp" routerLinkActive="active">Desenvolvimento Componente</button>
      <button mat-menu-item routerLink="/rup" routerLinkActive="active">RUP</button>
    </span>

    </mat-menu>
    <a mat-button routerLink="/apresentacao" routerLinkActive="active">Apresentação</a>


  </mat-toolbar>
</div>
