<div>
  <mat-toolbar class="navbar" color="primary">
    <a mat-button routerLink="/teste" routerLinkActive="active">Teste</a>
    <a mat-button routerLink="/pds" routerLinkActive="active">Processos de desenvolvimento de software</a>
    <a mat-button routerLink="/scrum" routerLinkActive="active">Scrum</a>
    <a mat-button routerLink="/xp" routerLinkActive="active">Xp</a>
    <a mat-button routerLink="/kanban" routerLinkActive="active">kanban</a>
    <a mat-button routerLink="/cascata" routerLinkActive="active">Cascata</a>
    <a mat-button routerLink="/devcomp" routerLinkActive="active">Desenvolvimento Componente</a>
    <a mat-button routerLink="/rup" routerLinkActive="active">RUP</a>
  </mat-toolbar>
</div>
