<div class="div-pai">
<mat-card class="z-dephth-5 slider-2 pds-card dir-esq-animation">
    <mat-card-content class="my-card-content ">
      <div class="centralize">
        <img src="assets/Desenvolvimento.png" width="40%" height="40%">
      </div>
    </mat-card-content>
  </mat-card>

<mat-card class="z-dephth-5 slider-2 esq-dir-animation pds-card">
    <mat-card-header>
      <div mat-card-avatar class="card-image-devcomp"></div>
      <mat-card-title>Desenvolvimento Baseado em Componentes</mat-card-title>
      <mat-card-subtitle>Definição</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="my-card-content">
      <p>Foi criada na Conferência de Engenharia de Software da OTAN no ano de 1968.
    Tem como ideal "Crie uma vez, use onde quiser."
    Component-based Software Engineering (CBSE) é um processo que enfatiza o projeto e a construção de sistemas baseados em computador usando "componentes" de software reutilizáveis.
      </p>
    </mat-card-content>
  </mat-card>


<mat-card class="z-dephth-5 slider-2 dir-esq-animation pds-card">
    <mat-card-header>
      <div mat-card-avatar class="card-image-devcomp"></div>
      <mat-card-title>Características</mat-card-title>
    </mat-card-header>
    <mat-card-content class="my-card-content">
      <p>Examinando essas definições, percebe-se que há um consenso quanto às características que devem estar presentes em um componente. Pode-se destacar:</p>
      <p><b>Permitir o desenvolvimento de sistemas por montagem:</b> um componente deve permitir que parte do (ou todo) desenvolvimento do sistema seja feito pela composição de partes existentes.</p>
      <p><b>Possuir interfaces explícitas:</b> o funcionamento do componente não pode depender do contexto onde estará presente, a não ser através de interfaces, sejam elas de exportação (serviços requeridos) ou de importação (serviços requeridos). Essa característica possibilita a diminuição do acoplamento do sistema.</p>
      <p><b>Ser uma unidade auto-contida:</b> isso significa que o componente deve funcionar independente de outro componente, sendo classificado assim como uma unidade de empacotamento e entrega.</p>
      <br>
      <b>Diferenças entre componentes e objetos</b>
        <br>
      <p>Componentes são independentes de linguagem. É possível a construção de um componente tanto em linguagens orientadas a objetos, quanto em linguagens não OO. Enquanto isso, objetos existem apenas em linguagens OO.
    Normalmente, a granularidade dos componentes é maior do que a dos objetos.
    Por serem auto-contidos, componentes são empacotados e entregues. Já os objetos necessitam de um contexto para funcionar, não podendo ser encarado como uma unidade de entrega.
    Em linguagens OO, a instanciação de um componente gera um objeto.</p>
    </mat-card-content>
  </mat-card>

    <mat-card class="z-dephth-5 slider-2 esq-dir-animation pds-card">
    <mat-card-header>
      <div mat-card-avatar class="card-image-devcomp"></div>
      <mat-card-title>Componentes</mat-card-title>
    </mat-card-header>
    <mat-card-content class="my-card-content">

      <p>O desenvolvimento de sistemas através de componentes consiste em criar o software utilizando componentes pré-construídos, não precisando assim partir do zero. Duas consequências diretas dessa definição são: a possibilidade de aumentar a produtividade da equipe e de reduzir os custos do projeto.</p>
      <p>Entretanto, a utilização de componentes requer uma nova forma de pensar da equipe do projeto. Arquitetos, analistas e programadores devem preocupar-se agora com a integração do sistema com os componentes que serão utilizados, necessitando assim de uma atenção maior na definição de interfaces internas e externas. Esses pontos podem gerar mudanças no processo de desenvolvimento utilizado.</p>
      <br>
      <p><b>Seleção:</b> Pesquisar e selecionar os possíveis componentes que poderão ser utilizados no desenvolvimento do sistema. Durante essa etapa, deve existir a preocupação em selecionar os componentes que atendam, total ou parcialmente, aos requisitos da arquitetura do sistema; além disso deve-se garantir que tais componentes são extensíveis e permitem adaptação.</p>
      <p><b>Adaptação:</b> Após selecionado, o componente deve ser adaptado às especificidades do sistema. Essa etapa é necessária porque dificilmente o componente se encaixará perfeitamente no sistema em desenvolvimento.</p>
      <p><b>Composição:</b> É o momento no qual o componente é conectado, através das interfaces, ao sistema. Trata-se da etapa principal do desenvolvimento de sistema através de componentes..</p>
    <br>
    </mat-card-content>
  </mat-card>

    <mat-card class="z-dephth-5 slider-2 dir-esq-animation pds-card">
    <mat-card-header>
      <div mat-card-avatar class="card-image-devcomp"></div>
      <mat-card-title>Vantagens</mat-card-title>
      <mat-card-subtitle>e Desvantagens</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="my-card-content">

      <p>Entre vantagens e desvantagens existentes na utilização de componentes para desenvolver software, é importante destacar a vantagem de que os componentes têm bom potencial para auxiliar o desenvolvimento de grandes sistemas. Por outro lado, uma desvantagem é que a curva de aprendizado pode ser desfavorável nos primeiros desenvolvimentos baseados em componentes, o que deve ser levado em consideração no planejamento desses projetos iniciais.</p>
      

      <br>
      <div class="centralize">
        <img src="assets/DevComp.jpg" width="50%" height="50%">
      </div>

    </mat-card-content>
  </mat-card>
<br><br>
</div>