<div class="div-pai">
  <mat-card class="z-dephth-5 slider-2 pds-card dir-esq-animation">
    <mat-card-content class="my-card-content ">
      <div class="centralize">
        <img src="assets/apresentacao.png" width="40%" height="40%">
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="z-dephth-5 slider-2 esq-dir-animation pds-card">
    <mat-card-header>
      <div mat-card-avatar class="card-image-apresentacao"></div>
      <mat-card-title>Problema</mat-card-title>

    </mat-card-header>
    <mat-card-content class="my-card-content">
      <p>Como sabemos, hoje em dia, a procura pela padronização de processos e práticas que tragam excelência para a gestão de projetos é uma constante nas organizações que desejam promover melhorias contínuas nas suas atividades. Tendo em vista os diferentes tipos de empresa, como elas se estruturam e organizam suas equipes de trabalho, não podemos dizer que existe uma solução única e perfeita para que satisfaça a todos, é preciso saber a necessidade daquela organizações para orientarmos a metodologia que melhor se aplica aquela determinada necessidade.
      </p>
    </mat-card-content>
  </mat-card>

<mat-card class="z-dephth-5 slider-2 dir-esq-animation pds-card">
    <mat-card-header>
      <div mat-card-avatar class="card-image-apresentacao"></div>
      <mat-card-title>Motivação</mat-card-title>
    </mat-card-header>
    <mat-card-content class="my-card-content">

      <p>Escolher um modelo de desenvolvimento de projeto não é uma tarefa fácil. As características do projeto influenciam na escolha da metodologia mais apropriada ou mais eficiente para aquele tipo de projeto. Foi pensando nisso que decidimos desenvolver uma aplicação que possuísse uma parte introdutória sobre determinadas metodologias, juntamente a um teste que, por meio de várias questões respondida pelo usuário, apresentará uma boa opção de metodologia para aquele projeto. No processo de desenvolvimento, nós pensamos em uma ferramenta que fosse intuitiva, informativa e fácil de usar, e foi a partir daí que surgiu a ideia de um site que contemplasse tudo isso.</p>
      <br>
    </mat-card-content>
  </mat-card>

    <mat-card class="z-dephth-5 slider-2 dir-esq-animation pds-card">
    <mat-card-header>
      <div mat-card-avatar class="card-image-apresentacao"></div>
      <mat-card-title>Público Alvo</mat-card-title>
    </mat-card-header>
    <mat-card-content class="my-card-content">

      <p>A solução foi desenvolvida para equipes de desenvolvimento e seus gestores, considerando que eles já teriam visto algo sobre processos de desenvolvimento, mas nunca teriam usado na prática. No fim das contas, a ferramenta desenvolvida ficou simples e fácil de usar, de forma que o público alvo abrange qualquer um que queira aprender sobre processos de desenvolvimento, sem precisar de um conhecimento prévio, por causa do caráter introdutório da aplicação.  </p>
      <br>
    </mat-card-content>
  </mat-card>

    <mat-card class="z-dephth-5 slider-2 dir-esq-animation pds-card">
    <mat-card-header>
      <div mat-card-avatar class="card-image-apresentacao"></div>
      <mat-card-title>Desafios</mat-card-title>
    </mat-card-header>
    <mat-card-content class="my-card-content">

      <p>Um dos maiores desafios que enfrentamos foi criar algo que não caísse na mesmice. Existem diversos exemplos de sites com informações sobre modelo de desenvolvimento, e não queríamos criar mais do mesmo. Depois de alguns debates, decidimos criar um site com um layout simples e intuitivo com informações sobre algumas metodologias, junto a um teste que fornece uma boa metodologia para o projeto do usuário.</p>
      <br>
    </mat-card-content>
  </mat-card>

      <mat-card class="z-dephth-5 slider-2 dir-esq-animation pds-card">
    <mat-card-header>
      <div mat-card-avatar class="card-image-apresentacao"></div>
      <mat-card-title>Depoimentos de Aprendizagem</mat-card-title>
    </mat-card-header>
    <mat-card-content class="my-card-content">
    <br>
      <p><b>Brenan Wanderley:</b> O trabalho foi bastante interessante e produtivo pela forma que nos forçou a pensar, apesar de conhecermos os benefícios da aplicação das metodologias ágeis, nós fomos forçados a pensar do ponto de vista de uma pessoa que não conhece as metodologias de forma profunda, mas sente a necessidade de aplicar métodos que aumentem a produtividade das suas organizações e equipes, desta forma apresentamos diferente visões em nossos debates para tentarmos encontrarmos uma solução que satisfizesse ao problema que nos foi proposto;</p>
      <p><b>Filipe Correia:</b> Foi legal a forma de como foi feita o projeto, debatemos sobre vários pontos de como seria a implementação e por isso conseguimos visualizar o ponto de vista de cada integrante. De certa forma foi trabalhoso por causa da concorrência com outros projetos, mas aprendemos bastante sobre as metodologias.</p>
      <p><b>Mariana Lins:</b> Gostei bastante de como trabalhamos em equipe e aprendemos mais a fundo as peculiaridades de cada metodologia. Debatemos bastante e o aprendizado foi bem mais dinâmico.</p>
      <p><b>Paulo Almeida:</b> O projeto teve uma dinâmica interessante e abordou os assuntos de forma menos ortodoxa, sem contar a fase de pesquisa enriqueceu nosso conhecimento de forma frutífera. Entretanto, encontramos diversas dificuldades devido a mudança de objetivos, escopo e modo de aula devido à situação extraordinária do momento em consequência do confinamento de quarentena. Apesar das dificuldades encontradas, acredito que o grupo ganhou bastante aprendizado no maneirismo inesperado em lidar com contratempos, podendo trabalhar um pouco as “soft skills”  de improvisação e adaptação.</p>
      <p><b>Thiago Azevedo:</b> No projeto aprendi muito sobre de como as metodologias ágeis são trabalhadas e utilizadas, vantagens e desvantagens de quais são melhores para ser utilizada. Tivemos alguns problemas, por causa de como está o cenário de hoje, mas conseguimos aprender muita coisa, e conseguimos nos adaptar com o problema.</p>
      
      <br>
    </mat-card-content>
  </mat-card>

</div>