<div style="font-size: x-large;text-align: center;">
    <br />
    Formulario
</div>
<br />
<br />
<div class="forms">
    <div style="text-align: center;">
        Marque apenas as alternativas que se assemelham ao estado atual do seu projeto.
    </div>
    <br />
    <br />
    1 - O projeto será implementado do zero
    <input type="checkbox" (click)="project = true" style="font-size: 110%;" />
    <br />
    <br />
    2 - O projeto precisa ser entregue em sua totalidade, não podendo entrar em etapas de testes para ser aperfeiçoado
    <input type="checkbox" (click)="deliveryProject = true" />
    <br />
    <br />
    3 - Precisa ter a noção do valor total do projeto de imediato?
    <input type="checkbox" />
    <br />
    <br />
    4 - O projeto já está implementado, necessitando apenas de manutenções?
    <input type="checkbox" />
    <br />
    <br />
    5 - Pretendem inovar e adicionar melhorias em seu produto a medida que o projeto vai avançando, onde as necessidades
    do cliente podem mudar a qualquer momento?
    <input type="checkbox" />
    <br />
    <br />
    6 - As chances de mudanças no projeto são mínimas?
    <input type="checkbox" />
    <br />
    <br />
    7 - Necessita de um projeto de baixo risco?
    <input type="checkbox" />
    <br />
    <br />
    8 - As funcionalidades mínimas do projeto podem ser entregues aos clientes antes do fechamento total do projeto?
    <input type="checkbox" />
    <br />
    <br />
    9 - Número de integrantes do projeto
    <input type="number">
    <br />
    <br />
    10 - O escopo do produto e o escopo do projeto é bem definido e compreendido?
    <input type="checkbox" />
    <br />
    <br />
    <br />
    <br />

    <button class="button">Enviar Formulario</button>
</div>