<div class="div-pai">
<!--  <mat-card class="z-dephth-5 slider-2 pds-card dir-esq-animation">-->
<!--    <mat-card-header style="display: flex; flex-direction: row; justify-content: center">-->
<!--      <div mat-card-avatar class="card-image-scrum"></div>-->
<!--      <mat-card-title>SCRUM</mat-card-title>-->
<!--        <mat-card-subtitle>Metodologia Ágil</mat-card-subtitle>-->
<!--    </mat-card-header>-->
<!--    <mat-card-content class="my-card-content ">-->
<!--    </mat-card-content>-->
<!--  </mat-card>-->

  <mat-card class="z-dephth-5 slider-2 pds-card dir-esq-animation">
    <mat-card-content class="my-card-content ">
      <div class="centralize">
        <img src="assets/scrum.jpg" width="40%" height="40%">
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="z-dephth-5 slider-2 esq-dir-animation pds-card">
    <mat-card-header>
      <div mat-card-avatar class="card-image-scrum"></div>
      <mat-card-title>SCRUM </mat-card-title>
      <mat-card-subtitle>Definição</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="my-card-content">
      <p>É uma das ferramentas da metodologia ágil, desenvolvida por Jeff Sutherland, que baseia-se em ciclos rápidos de desenvolvimentos, chamados de sprints. Para que cada sprint tenha sucesso, é preciso ter muito claro quais são os papéis fundamentais da equipe, as atividades básicas que precisam ser desenvolvidas e a entrega final, o software em funcionamento, ou seja, um produto testável.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="z-dephth-5 slider-2 dir-esq-animation pds-card">
    <mat-card-header>
      <div mat-card-avatar class="card-image-scrum"></div>
      <mat-card-title>Membros e Funções</mat-card-title>
      <mat-card-subtitle>PO, SM e TS</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="my-card-content">

      <p><b>Product Owner:</b> É a pessoa com autoridade para dizer o que o produto final vai ter, e também o que ele não vai ter. O Dono do Produto deve ser alguém capaz de representar os interesses do usuário final do produto ou do projeto que está sendo criado. Ao longo do sprint, o Dono do Produto é responsável pelo Backlog. Este é um documento que lista todas as tarefas, exigências e necessidades do produto.</p>
      <br>
      <p><b>Scrum Master:</b> É responsável por garantir as condições de trabalho do time. Assim, ele é responsável por ajudar os envolvidos a entender as premissas do projeto, oferecer todos os equipamentos e ferramentas necessárias para a execução das tarefas, proteger a equipe de interferências externas e imprevistos e assumir a liderança em situações de conflitos ou outros impedimentos que atrapalhem a produtividade.</p>
      <p>É importante deixar claro que o Scrum Master não é o gerente do projeto. Ou seja, ele não tem autoridade para exercer controle sobre a equipe. O que ele faz é assumir papel de líder em situações específicas, apenas isso.</p>
      <br>
      <p><b>Time Scrum:</b> É formado pelas demais pessoas que vão executar o sprint. O ideal é que o seu time seja multidisciplinar, capaz de executar todo o projeto, desde sua concepção até o teste final. Um dos grandes diferenciais da metodologia scrum é que não há uma divisão exata de tarefas entre o time. Não há um responsável pré-estabelecido, assume cada demanda aquele que for mais rápido ou se mostrar mais capaz para executá-la.</p>
      <p>Esta é a grande disrupção do processo: não definir quem faz o que. Desta forma, você não tem cada um olhando para uma pequena tarefa individualmente, e sim todos olhando coletivamente para o sucesso do projeto. Isso é o que dá agilidade ao processo e, para acontecer corretamente, é fundamental a sinergia do time.</p>
      <p>Ao final do sprint, não há o sucesso ou fracasso de cada um, nem culpados ou responsáveis. A responsabilidade é do time como um todo.</p>
      <br>
    </mat-card-content>
  </mat-card>

  <mat-card class="z-dephth-5 slider-2 esq-dir-animation pds-card">
    <mat-card-header>
      <div mat-card-avatar class="card-image-scrum"></div>
      <mat-card-title>Funcionamento</mat-card-title>
      <mat-card-subtitle>e Artefatos</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="my-card-content">

      <p>As funcionalidades a serem implementadas em um projeto são mantidas em uma lista que é conhecida como Product Backlog. No início de cada Sprint, faz-se um Sprint Planning Meeting, ou seja, uma reunião de planejamento na qual o Product Owner prioriza os itens do Product Backlog e a equipe seleciona as atividades que ela será capaz de implementar durante o Sprint que se inicia.</p>
      <p>As tarefas alocadas em um Sprint são transferidas do Product Backlog para o Sprint Backlog, que é uma lista de tarefas que o Scrum Team se compromete a fazer em um Sprint.</p>
      <p>A cada dia de uma Sprint, a equipe faz uma breve reunião (normalmente de manhã), chamada Daily Scrum. O objetivo é disseminar conhecimento sobre o que foi feito no dia anterior, identificar impedimentos e priorizar o trabalho do dia que se inicia.</p>
      <p>Ao final de um Sprint, a equipe apresenta as funcionalidades implementadas em uma Sprint Review Meeting. Finalmente, faz-se uma Sprint Restrospective que serve para identificar o que funcionou bem, o que pode ser melhorado e que ações serão tomadas para melhorar, e em seguida a equipe parte para o planejamento do próximo Sprint. Assim reinicia-se o ciclo.</p>
      <br>
    </mat-card-content>
  </mat-card>

  <mat-card class="z-dephth-5 slider-2 dir-esq-animation pds-card">
    <mat-card-header>
      <div mat-card-avatar class="card-image-scrum"></div>
      <mat-card-title>Vantagens</mat-card-title>
      <mat-card-subtitle>e Desvantagens</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="my-card-content">

      <p>Além da agilidade, claro, o scrum traz outras vantagens, como a adaptabilidade e a motivação do time. Adaptabilidade, no sentido de se adaptar rapidamente a possíveis imprevistos ou mudanças. Motivação, porque ao trabalhar com tarefas e sprints curtos, o time sente-se mais realizado e vê com mais facilidade a importância do processo.</p>
      <p>Por outro lado, a maior desvantagem do scrum é a dificuldade de seguir o processo à risca. Seja por falta de conhecimento técnico, resistência por parte da equipe ou falta de costume de trabalhar com metodologias ágeis, muitos projetos de scrum acabam fracassando.</p>

      <br>
      <div class="centralize">
        <img src="assets/scrumSprint.png" width="50%" height="50%">
      </div>

    </mat-card-content>
  </mat-card>
<br><br>
</div>
