<div class="div-pai">
    <mat-card class="z-dephth-5 slider-2 pds-card dir-esq-animation">
        <mat-card-content class="my-card-content ">
            <div class="centralize">
                <img src="assets/xp.jpg" width="40%" height="40%">
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="z-dephth-5 slider-2 esq-dir-animation pds-card">
        <mat-card-header>
            <div mat-card-avatar class="card-image-xp"></div>
            <mat-card-title>XP </mat-card-title>
            <mat-card-subtitle>Definição</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="my-card-content">
            <p>Criado em 1997 por Kent Beck, o Extreme Programming (XP) é um método que facilita o trabalho das equipes
                e aprimora a qualidade dos projetos. Seus principais valores são: simplicidade (trabalha na redução da
                complexidade do sistema), comunicação (favorece comunicação entre os membros da equipe), feedback(entre
                as etapas do projeto, promovendo uma comunicação rápida) e coragem (testes, integração contínua e
                programação garantem a confiança do programador).
                O intuito da metodologia é ser flexível e executar um projeto dentro do prazo e com o orçamento
                estipulado, alcançando a satisfação do cliente e diminuindo o retrabalho da equipe envolvida. Mudanças
                são sempre bem vindas e devem ser incorporadas quando possível, ainda mais quando o cliente não sabe ao
                certo o que deseja. A popularidade do software se dá por meio de sua agilidade, bons resultados e
                motivação dos colaboradores, que possuem liberdade para fazer melhorias.
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="z-dephth-5 slider-2 dir-esq-animation pds-card">
        <mat-card-header>
            <div mat-card-avatar class="card-image-xp"></div>
            <mat-card-title>Membros e Funções</mat-card-title>
        </mat-card-header>
        <mat-card-content class="my-card-content">
            <br>
            <p>Papéis em uma equipe XP não são fixos e rígidos. O objetivo é fazer com que cada um contribua com o
                melhor que tem a oferecer para que a equipe tenha sucesso. Em princípio, papéis fixos podem ser úteis
                para se aprender novos hábitos, como por exemplo fazer com que as decisões técnicas sejam deixadas para
                o pessoal técnico e decisões de negócio, com pessoas de negócio. A partir do momento em que novas
                relações, respeitosas, sejam estabelecidas entre os membros da equipe, papéis fixos passam a interferir
                no objetivo de fazer com que cada um dê o melhor de si. Programadores podem escrever uma história se
                estiverem na melhor posição para fazer isso. Gerentes de projeto podem sugerir melhorias arquiteturais
                se estiverem na melhor posição para fazê-lo.
            </p>
            <p><b>Testers</b> Analistas de teste em um projeto XP têm um papel proativo. No início de cada iteração,
                eles ajudam clientes e desenvolvedores a escrever testes para as histórias, antes mesmo que elas sejam
                implementadas. Além disso, trabalham com os desenvolvedores ao longo da iteração, ajudando-os a
                automatizar os testes. Quando a equipe não consegue automatizar alguns testes, os analistas de teste os
                executam manualmente.</p>
            <br>
            <p><b>Programadores:</b>
                Programadores em uma equipe XP trabalham em pares implementando histórias. Eles também estimam as
                historias no Jogo do Planejamento e automatizam tarefas repetitivas. Também são responsáveis por criar
                testes automatizados para tudo o que produzem. Isso é feito com a prática de desenvolvimento orientado a
                testes. Além de criarem novas funcionalidades, também refatoram o sistema permanentemente para aprimorar
                a arquitetura, eliminar duplicações e tornar o código mais claro.</p>
            <br>
            <p><b>Gerente de Projetos:</b> Gerentes de projeto servem de ponte entre a equipe, os clientes e eventuais
                fornecedores. Ele assegura que as pessoas certas dialoguem dentro da equipe e fora dela. Nesse sentido,
                age como um facilitador no fluxo de comunicação do projeto. Seu propósito não é controlar a informação,
                mas assegurar que as pessoas consigam se comunicar prontamente. Nesse sentido, o gerente de projeto
                pode, por exemplo, manter contato permanente com o cliente e assegurar que ele participe das reuniões de
                planejamento.</p>
            <br>
            <p><b>Designers de interação:</b> Designers de interação trabalham próximo aos clientes em um projeto XP.
                Eles os ajudam a escrever histórias e escolher metáforas consistentes para o projeto. Além disso, ajudam
                a criar a interface e a refiná-la continuamente ao longo do tempo.</p>
            <br>
            <p><b>Usuários:</b> Usuários em uma equipe XP ajudam a escrever e selecionar histórias e tomam decisões
                relativas ao domínio do negócio durante o desenvolvimento. Sua participação é tão valiosa quanto for seu
                conhecimento sobre o domínio do negócio.</p>
            <br>
        </mat-card-content>
    </mat-card>

    <mat-card class="z-dephth-5 slider-2 esq-dir-animation pds-card">
        <mat-card-header>
            <div mat-card-avatar class="card-image-xp"></div>
            <mat-card-title>Funcionamento</mat-card-title>
        </mat-card-header>
        <mat-card-content class="my-card-content">

            <p>Práticas em XP representam aquilo que você verá as equipes XP fazendo diariamente. Práticas dependem da
                situação, do contexto. Se a situação muda, você seleciona práticas diferentes para abordar estas
                condições. Seus valores, por sua vez, não têm que mudar para se adaptar a uma nova situação. Alguns
                novos princípios podem vir a ser necessários quando se muda de domínio.
            </p>
            <br>
            <p><b>Stand UP Meeting:</b> É uma breve reunião realizada diariamente, normalmente de manhã, pela equipe de
                desenvolvimento com o objetivo de compartilhar informações sobre o projeto e priorizar suas atividades.
                Trata-se de um diálogo entre todos os membros da equipe, se possível envolvendo também a presença do
                cliente. Em qualquer diálogo presencial, existem pelo menos duas coisas que são compartilhadas de
                maneira bastante rica: informações e emoções.</p>
            <br>
            <p><b>Metáfora:</b> XP procura explorar ao máximo a utilização de metáforas, para que clientes e
                desenvolvedores sejam capazes de estabelecer uma vocabulário apropriado para o projeto, repleto de nomes
                representando elementos físicos com os quais os clientes estejam habituados em seu dia-a-dia, de modo a
                elevar a compreensão mútua.</p>
            <br>
            <p><b>Refatorar:</b> É uma prática comum em XP e significa alterar o código, sem alterar o que ele faz.
                Trata-se de uma mudança efetuada apenas para melhorar a estrutura do código, tornando-o mais simples,
                mais legível e, portanto, mais fácil de manter.
            </p>
            <br>
            <p>As práticas foram divididas em duas partes: primárias e corolárias. As práticas primárias são úteis
                independente do que mais você estiver fazendo. Cada uma delas pode gerar um benefício imediato. Você
                pode começar seguramente com qualquer uma delas. As práticas corolárias tendem a ser difíceis de dominar
                sem antes colocar em uso as práticas primárias. O efeito amplificado obtido com as práticas em conjunto
                significa que há uma vantagem em adicionar as práticas tão rapidamente quanto possível.
            </p>
            <br>
        </mat-card-content>
    </mat-card>
    <mat-card class="z-dephth-5 slider-2 dir-esq-animation pds-card">
        <mat-card-header>
            <div mat-card-avatar class="card-image-xp"></div>
            <mat-card-title>Práticas Primarias</mat-card-title>
            <mat-card-subtitle>e Práticas Corolárias</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="my-card-content">
            <b>Práticas Primarias:</b>
            <br>
            <p>São práticas que você pode começar a adotar imediatamente de forma segura para melhorar seu esforço
                de desenvolvimento de software. Qual você deve adotar primeiro depende inteiramente de seu ambiente
                e o que você entende como sendo sua maior oportunidade de melhoria. Algumas pessoas precisam de
                planejamento porque não sabem o que precisa ser feito. Outros precisam de práticas relacionadas à
                melhoria de qualidade porque estão criando defeitos demais para serem capazes de ver o que está
                acontecendo.</p>
            <br>
            <p><b>Histórias:</b> Equipes XP planejam utilizando histórias escritas em pequenos cartões. As histórias
                normalmente são escritas pelo próprio cliente. Os cartões não têm a pretensão de armazenar todas as
                informações sobre uma história. Desenvolvedores em um equipe XP utilizam o diálogo presencial com o
                cliente para aprender o máximo possível sobre os detalhes de cada história. Dessa forma, o registro da
                história feito no cartão acaba servindo basicamente como um lembrete do diálogo.
            </p>
            <br>
            <p><b>Programação em par:</b> É uma das práticas mais conhecidas e mais polêmicas utilizadas pelos que
                adotam o Extreme Programming. Ela sugere que todo e qualquer código produzido no projeto seja sempre
                implementado por duas pessoas juntas, diante do mesmo computador, revezando-se no teclado.
            </p>
            <br>
            <p><b>Desenvolvimento Orientado a Testes:</b> Três passos básicos do desenvolvimento orientado a testes:
                Escrever um teste e assegurar que ele não funcione introduzindo um erro óbvio no código sendo testado,
                Fazer o teste funcionar com a implementação mais óbvia possível. Refatorar o método sendo testado e o
                próprio método de teste. O primeiro, para colocar a implementação desejada para a aplicação e o segundo
                para eliminar duplicações e melhorar a legibilidade.
            </p>
            <br>
            <p><b>Ambiente informativo:</b> O ambiente de trabalho de uma equipe XP deve ser um reflexo do projeto.
                Alguém que entre na sala da equipe deve conseguir obter, em poucos segundos, uma noção clara de como
                está o andamento do projeto.
            </p>
            <br>
            <p><b>Para atingir tais objetivos equipes XP utilizam diversos instrumentos, tais como:</b>
                Cartões com histórias colocados em um mural na parede;
                Quadro branco;
                Post it sobre as paredes;
                Flip chart;
                Gráficos na parede com informações relevantes para a equipe, como por exemplo a quantidade de defeitos;
                descobertos em produção desde a última implantação do sistema;
                Essa prática aprimora a comunicação da equipe e faz com que ela ganhe tempo, já que as informações mais
                importantes sobre o projeto estão sempre visíveis nas paredes. Tais informações devem ser ativas, ou
                seja, devem ser atualizadas com frequência para que sejam valiosas.
            </p>
            <br>
            <p><b>Build de dez minutos:</b>
                Assegure que seja possível executar o build e todos os testes automatizados do projeto em até dez
                minutos. Builds automatizados são importantes porque fazem a equipe ganhar tempo e garantem que os
                passos sejam consistentemente seguidos sempre que são executados.
            </p>
            <br>
            <p><b>Ciclo semanal:</b>
                O software é desenvolvimento de modo iterativo e incremental em projetos XP. Ou seja, uma vez por semana
                os desenvolvedores se reúnem com o cliente para priorizar um pequeno conjunto de funcionalidades que
                possam ser implementadas e testadas completamente naquela semana.
            </p>
            <br>
            <p><b>Ciclo Trimestral:</b>
                O planejamento geral de um projeto XP é divido em trimestres. No início de cada trimestre a equipe se
                reúne com o cliente e demais interessados no projeto para estabelecer o tema ou os temas que serão
                implementados ao longo dos próximos três meses. Temas são conjuntos de funcionalidades que solucionam as
                necessidades de um ou mais processos de negócios da organização.
            </p>
            <br>
            <p><b>Design incremental:</b>
                O design de uma aplicação surge de forma iterativa e incremental em projetos . O objetivo é criar a
                solução mais simples possível que seja suficiente para implementar as funcionalidades de cada iteração.
                Qualquer característica que possa ser implementada para dar apoio a funcionalidades futuras, só são
                codificadas de fato se e quando tais funcionalidades forem priorizadas para uma iteração futura.
            </p>
            <br>
            <br>
            <b>Práticas Corolárias:</b>
            <br>
            <p>As práticas corolárias são difíceis ou perigosas de serem implementadas antes de se adotar as práticas
                primárias. Se você começar a implantar o software diariamente, por exemplo, sem baixar a taxa de
                defeitos para algo muito próximo de zero (com programação em par, integração contínua e desenvolvimento
                orientado a testes), você terá um desastre nas mãos. Confie na sua intuição sobre o que é a próxima
                coisa que precisa ser aprimorada. Se algumas das práticas a seguir parecer apropriada, tente-a. Talvez
                funcione ou talvez você descubra que há mais trabalho a ser feito antes que você possa usá-las para
                aprimorar seu processo de desenvolvimento.
            </p>
            <br>
            <p><b>Base de código unificada:</b>
                Deve haver apenas uma base de código. Você pode desenvolver em um ramo temporário, mas nunca deixe-o
                sobreviver mais que apenas algumas horas. Múltiplas linhas de codificação são uma enorme fonte de
                desperdícios em desenvolvimento de software. Ao corrigir um defeito no software que está no ar
                atualmente, então tem-se que corrigir o mesmo defeito em todas as demais versões do software que estão
                no ar, além do ramo de desenvolvimento que está ativo no momento. Logo descobre-se que a correção feita
                quebra alguma coisa em que você estava trabalhando.
            </p>
            <br>
            <p><b>Código coletivo:</b>
                Em um projeto XP, os pares se revezam, as pessoas se revezam na formação dos pares e todos têm acesso e
                autorização para editar qualquer parte do código da aplicação, a qualquer momento. Ou seja, a
                propriedade do código é coletiva e todos são igualmente responsáveis por todas as partes. Com isso, os
                desenvolvedores ganham tempo, pois não precisam esperar a autorização de um colega para editar uma área
                do código e há maior disseminação de conhecimento.
            </p>
            <br>
            <p><b>Continuidade da equipe:</b>
                Preserve equipe eficazes e bem integradas, encorajando um nível razoável de rotação, a organização ganha
                os benefícios de um equipe estável e consistência em termos de dispersão de conhecimento e experiência.
            </p>
            <br>
            <p><b>Implantação incremental:</b>
                Quando estiver substituindo um sistema legado, gradualmente substitua partes dele desde o início do
                projeto. Encontre algumas funcionalidades ou um conjunto limitado de dados que você possa tratar
                imediatamente. Implante-o. Você vai ter que encontrar uma forma de rodar os dois sistemas em paralelo,
                dividindo ou fundindo arquivos ou treinando alguns usuários para usar ambos os programas por um tempo.
                Essa proteção, técnica ou social, é o preço que se paga pela segurança.
            </p>
            <br>
        </mat-card-content>
    </mat-card>
    <mat-card class="z-dephth-5 slider-2 dir-esq-animation pds-card">
        <mat-card-header>
            <div mat-card-avatar class="card-image-xp"></div>
            <mat-card-title>Vantagens</mat-card-title>
            <mat-card-subtitle>e Desvantagens</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="my-card-content">

            <p>A simplicidade do código escrito funciona como uma vantagem, já que permite a sua melhoria a qualquer
                momento.
                Todo o processo e todo o ciclo de desenvolvimento XP é visível, criando metas para os developers e
                mostrando resultados de forma relativamente rápida;
                O desenvolvimento de software acaba por ser ainda mais ágil do que em outras metodologias,
                precisamente devido aos testes constantes;
                A XP contribui, também, para a motivação do talento nas equipas e para a sua retenção.</p>
            <p>O foco extremo no código pode levar a que se atribua menos importância ao design, obrigando a uma atenção
                extra neste ponto;
                Esta framework pode não funcionar da melhor forma se todos os membros de uma equipa não se encontrarem
                no mesmo espaço geográfico;
                Nos projetos XP, o registo de possíveis erros nem sempre é realizado, e essa falta de documentação
                pode levar à ocorrência de bugs semelhantes no futuro.
            </p>

            <br>

        </mat-card-content>
    </mat-card>
    <br><br>



</div>